.inputField {
    display: flex;
    flex-direction: vertical;
    margin-top: 5%;
    background-color: #D9D9D9;
}

.inputField input {
    background-color: #D9D9D9;
    border: none;
    display: flex;
    flex-grow: 1;
    padding: 4px;
    padding-left: 8px;
}

.inputField input :focus {
    border: none;
}

.inputField img {
    padding-left: 4px;
}