.searchCityCard {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color: #6D6D6D;
    margin-bottom: 15px;
}

.searchCityName {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}

.searchCardContents {
    display: inline;
}

.addButton button{
    position: fixed;
    right: 5px;
}

.addButton {
    display: inline;
}
